* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: auto 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
}

input:focus {
  outline: none;
  border: 1px solid #1877f2;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}

.introduction {
  width: 400px;
}

.logo {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.description {
  /* text-shadow: 5px 0px blue;   */
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  margin: 40px 0;
  padding: 16px;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.login-txt {
  margin: 10px 0 18px;
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.btn {
  margin-top: 16px;
  padding: 16px 0;

  color: white;
  font-size: 18px;
  font-weight: bold;

  border: none;
  border-radius: 6px;

  cursor: pointer;
  
}

.login-btn {
  width: 100%;
  background-color: #1877f2;
}

.divider {
  margin: 16px 0;
  border-color: #dddfe2;
}

.link-btn {
  margin: 18px 0;
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
}

.link-btn:hover {
  text-decoration: underline;
}

.divider {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dadde1;
  margin: 10px 0;
}

.create-btn {
  width: 60%;
  margin-bottom: 24px;
  text-align: center;
  text-decoration: none;
  background-color: #42b72a;
}

@media screen and (min-width: 720px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .introduction {
    width: 50%;
    padding: 55px 0 0 55px;
  }

  .logo {
    margin: 0;
  }

  .description {
    width: 70%;
    padding-left: 30px;
    text-align: start;
  }

  .card {
    width: 50%;
    max-width: 400px;
  }

}